:root {
    --ebk-amount-color-green: 22, 163, 74;
    --ebk-amount-color-red: 59, 91, 153;
    --ebk-amount-color-yellow: 202, 138, 4;
    --ebk-amount-color-black: 31, 41, 55;
    --ebk-amount-color-white: 243, 244, 246;
}

:root.expense-amount-color-green .text-expense {
    color: rgb(var(--ebk-amount-color-green)) !important;
}

:root.income-amount-color-green .text-income {
    color: rgb(var(--ebk-amount-color-green)) !important;
}

:root.expense-amount-color-red .text-expense {
    color: rgb(var(--ebk-amount-color-red)) !important;
}

:root.income-amount-color-red .text-income {
    color: rgb(var(--ebk-amount-color-red)) !important;
}

:root.expense-amount-color-yellow .text-expense {
    color: rgb(var(--ebk-amount-color-yellow)) !important;
}

:root.income-amount-color-yellow .text-income {
    color: rgb(var(--ebk-amount-color-yellow)) !important;
}

:root.expense-amount-color-blackorwhite .text-expense {
    color: rgb(var(--ebk-amount-color-black)) !important;
}

:root.dark.expense-amount-color-blackorwhite .text-expense {
    color: rgb(var(--ebk-amount-color-white)) !important;
}

:root.income-amount-color-blackorwhite .text-income {
    color: rgb(var(--ebk-amount-color-black)) !important;
}

:root.dark.income-amount-color-blackorwhite .text-income {
    color: rgb(var(--ebk-amount-color-white)) !important;
}
